@use 'media' as *;

html {
  font-size: 10px;
  min-width: 375px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  color: var(--text-color-primary);
  // font-size: 10px;
  line-height: 1.5;

}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;
  width: 100%;
  background-color: (var(--bg-primary-color));
}

footer {
  flex: 0 0 auto;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a, button {
  box-sizing: border-box;
  line-height: 1em;
  cursor: pointer;
  transition: color .2s ease, background-color .2s ease, border .2s ease;
}

.link {
  &:hover {
    color: var(--text-color-hover-primary);
    text-decoration: underline;
  }
}

svg, path, circle, g {
  transition: fill .1s ease, box-shadow .2s ease, stroke .1s ease;
}

button {
  background-color: inherit;
  border: none;
  padding: 0;
  
  @include hover {
    color: var(--text-color-hover-primary);
  }
}

p {
  font-size: 1em;
  margin: 0;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-weight: 400;
  margin: 0;
  font-family: 'fira-sans', sans-serif;
}

h1, .h1 {
  font-size: 3.6em;
}

h2, .h2{
  font-size: 3.2em;
}

h3, .h3{
  font-size: 2.8em;
}

h4, .h4{
  font-size: 2.4em;
}

h5, .h5{
  font-size: 1.8em;
}

img {
  width: 100%;
  height: auto;
}

.svg-lx {
  width: var(--svg-size-desktop-lx);
  height: auto;
  margin: 0;

  @include mobile {
    width: var(--svg-size-mobile-lx);
  }
}

.svg-l {
  width: var(--svg-size-desktop-l);
  height: auto;
  margin: 0;

  @include mobile {
    width: var(--svg-size-mobile-l);
  }
}

.svg-m {
  width: var(--svg-size-desktop-m);
  height: auto;
  margin: 0;

  @include mobile {
    width: var(--svg-size-mobile-m);
  }
}

.svg-s {
  width: var(--svg-size-desktop-s);
  height: auto;
  margin: 0;
}

.flag {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  width: 1em;
  height: 1em;
  line-height: 1;
  background: url('@/assets/images/flags.png') no-repeat left top / 1em;
}

.flag_round { border-radius: 1em; }
.flag_border { box-shadow: 0 0 0 2px #FFF; }

.flag_russia { background-position: 0 -1em; }
.flag_kazakhstan { background-position: 0 -2em; }
.flag_belarus { background-position: 0 -3em; }
.flag_armenia { background-position: 0 -4em; }
.flag_uzbekistan { background-position: 0 -5em; }
.flag_kyrgyzstan { background-position: 0 -6em; }
.flag_it { background-position: 0 -7em; }
.flag_de { background-position: 0 -8em; }
.flag_en { background-position: 0 -9em; }
.flag_fr { background-position: 0 -10em; }


.form-group {
  display: flex;
  column-gap: 3em;
  justify-content: space-between;
  // align-items: center;
  flex-wrap: wrap;
}

.form-group-data {
  flex: 1 0 45%;
  // font-size: 1.3em;
  margin-bottom: 1em;
}

.form-group-data__btn {
  margin-top: 1em;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1em;
  width: 100%;
  text-transform: uppercase;
  column-gap: .71em;

  svg {
    margin-block: -1em;
  }
}

.form-group__title {
  display: block;
  font-size: 1.3rem;
  line-height: 1.53em;
  margin-bottom: 1em;
  width: 100%;
}

.form-group__value {
  width: 100%;
  font-size: 1.6rem;
  // margin-top: .3em;
  margin-top: .3em;

}

.form-group__container {
  display: flex;
  align-items: center;
}

.props {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  row-gap: .5em;

  .prop {
    // display: flex;
    display: inline-block;
    align-items: flex-start;
  }

  .prop__name {
    display: inline;
    padding: 0 .416em;
    background-color: #D2C3E4;
    margin-right: .416em;
    // white-space: nowrap;
    width: fit-content;
  }

  .prop__value {
    display: inline;
    align-items: center;

    i {
      margin-right: .2em;
      margin-top: -.2em;
    }
    span {
      margin-right: .2em;
    }
  }

  .prop_type_text {
    display: flex;
    flex-direction: column;
    // word-break: break-all;
  }
}

.image-box{
  position: relative;
  flex: 0 0 30%;
  width: 100%;
  max-width: 30%;
  height: 0;
  padding-top: 30%;
  background-color: #D9D9D9;
  margin-right: 5%;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #D9D9D9;
  }
}

.sticky {
  position: sticky;
  top:0;
}


.divider {
  border: 0;
  border-top: 1px solid #c4c4c4;
  margin-block: 1rem;
}

.mb-30{
  margin-block: 3rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid-error {
  font-size: 1rem;
  line-height: 1em !important;
  color: #6937a5;
  margin-top: .5rem;
  flex: 1 1 100%;
  min-height: 1.5rem;
  max-height: 1.5rem;
}

.invalid {
  input {
    color: var(--text-color-danger);
  }
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  width: 100%;
  box-sizing: border-box;

  @include desktop {
    padding-inline: var(--container-padding-x);
  }

}

@include tablet {
  html {
    font-size: clamp(6.5px, calc((2.2vw) * .333333), 10px);
  }
}

@include mobile{
  html {
    font-size: 10px;
  }
}