@use 'media' as *;

html {
  font-size: 10px;
  min-width: 375px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  color: var(--text-color-primary);
  // font-size: 10px;
  line-height: 1.5;
  min-height: 375px;
}

img {
  border-style: none;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

main {
  flex: 1 0 auto;
  width: 100%;
  background-color: (var(--bg-primary-color));
}

footer {
  flex: 0 0 auto;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a, button {
  box-sizing: border-box;
  line-height: 1em;
  cursor: pointer;
  transition: color .2s ease, background-color .2s ease, border .2s ease;
}

.link {
  &:hover {
    color: var(--text-color-hover-primary);
    text-decoration: underline;
  }

  &_type_hidden {
    // display: -webkit-box !important;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;
    overflow-wrap: anywhere;
  }
}

.title-hidden {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}


svg, path, circle, g {
  transition: fill .1s ease, box-shadow .2s ease, stroke .1s ease, transform .5s ease, color .2s ease;
}

button {
  background-color: inherit;
  border: none;
  padding: 0;

  @include hover {
    color: var(--text-color-hover-primary);
  }
}

p {
  font-size: 1em;
  margin: 0;
  overflow-wrap: break-word;
  // margin-bottom: 1em;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-weight: 400;
  margin: 0;
  font-family: 'fira-sans', sans-serif;
  overflow-wrap: break-word;
}

h1, .h1 {
  font-size: 3.6em;
}

h2, .h2{
  font-size: 3.2em;
}

h3, .h3{
  font-size: 2.8em;
}

h4, .h4{
  font-size: 2.4em;
}

h5, .h5{
  font-size: 1.8em;
}

img {
  width: 100%;
  height: auto;
}

a:active,
button:active,
input:active,
label:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-shadow: none;
}

// размеры свг иконок
.svg-lx {
  width: var(--svg-size-desktop-lx);
  height: auto;
  margin: 0;

  @include mobile {
    width: var(--svg-size-mobile-lx);
  }
}

.svg-l {
  width: var(--svg-size-desktop-l);
  height: auto;
  margin: 0;

  @include mobile {
    width: var(--svg-size-mobile-l);
  }
}

.svg-m {
  width: var(--svg-size-desktop-m);
  height: auto;
  margin: 0;

  @include mobile {
    width: var(--svg-size-mobile-m);
  }
}

.svg-s {
  width: var(--svg-size-desktop-s);
  height: auto;
  margin: 0;
}

// стили для переноса текста без пробелов

.text-wrap {
  word-break: break-all;
}

// стили для обозначения стран
.flag {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  width: 15px;
  height: 15px;
  line-height: 1;
  background: url('@/assets/images/flags.png') no-repeat left top / 1em;
}

.flag_round { border-radius: 1em; }
.flag_border { box-shadow: 0 0 0 2px #FFF; }

.flag_russia { background-position: 0 -1em; }
.flag_kazakhstan { background-position: 0 -2em; }
.flag_belarus { background-position: 0 -3em; }
.flag_armenia { background-position: 0 -4em; }
.flag_uzbekistan { background-position: 0 -5em; }
.flag_kyrgyzstan { background-position: 0 -6em; }
.flag_it { background-position: 0 -7em; }
.flag_de { background-position: 0 -8em; }
.flag_en { background-position: 0 -9em; }
.flag_fr { background-position: 0 -10em; }


// стили для форм
.form-group {
  display: flex;
  column-gap: 3em;
  justify-content: space-between;
  // align-items: center;
  flex-wrap: wrap;

  @include small-mobile {
    flex-direction: column;
  }

  &_type_secondary {
    margin-bottom: 3.2em;

    .form-group__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
      font-size: 1.4rem;
      font-weight: 600;
      color: #000;
      margin-bottom: .6em;
    }

    .form-group__value {
      margin-top: 0;
      input {
        color: var(--text-color-primary);
      }
    }

    .input-container {
      border-radius: 8px;
      border: 1px solid #d9dae1;
      flex-direction: row-reverse;
      padding: 1.4rem;
  
      svg {
        margin-right: 8px;
      }
    }

    .checkbox-group {
      flex-direction: column;
      row-gap: 1.2rem;
    }

    .radio-buttons {
      .radio-buttons__list {
        flex-direction: row;

        span {
          font-size: 1.6rem;
        }
      }

    }

    .text-area__input {
      border-radius: 8px;
      border: 1px solid #d9dae1;
    }

    @include mobile {
      margin-bottom: 1.5em;
      
      .form-group-data:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      .form-group-data:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form-group-data {
  flex: 1 0 45%;
  // font-size: 1.3em;
  margin-bottom: 1em;

  @include mobile {
    flex: 1 0 100%;
  }
}

.loading {
  pointer-events: none;
  opacity: .6;
}

.form-group-data__btn {
  margin-top: 1em;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1em;
  width: 100%;
  text-transform: uppercase;
  column-gap: .71em;

  svg {
    margin-block: -1em;
  }
}

.form-group__title {
  display: block;
  font-size: 1.3rem;
  line-height: 1.53em;
  margin-bottom: 1em;
  width: 100%;

  &_service {
    display: flex;
    align-items: center;
    column-gap: .5em;
    justify-content: space-between;
  }

  @include small-mobile {
    margin-bottom: .5em;
  }
}

.form-group__value {
  width: 100%;
  font-size: 1.6rem;
  // margin-top: .3em;
  margin-top: .6em;

}

.form-group__container {
  display: flex;
  align-items: center;
}

.form-group__inline {
  display: inline;
  vertical-align: middle;
}

.form-value {
  width: 100%;
  font-size: 1.6rem;
  padding: .875em;
  border-radius: 8px;
  border: 1px solid #d9dae1;
  min-height: 3.25em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: .5em;
}


// пропсы
.props {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  row-gap: .5em;

  .prop {
    // display: flex;
    display: inline-block;
    align-items: flex-start;
  }

  .prop__name {
    display: inline;
    padding: 0 .416em;
    background-color: #D2C3E4;
    margin-right: .416em;
    // white-space: nowrap;
    width: fit-content;
    margin-bottom: 0;

    &_type_grey {
      background-color: #dadada;
    }
  }

  .prop__value {
    display: inline;
    align-items: center;

    i {
      margin-right: .2em;
      margin-top: -.2em;
    }
    span {
      margin-right: .2em;
    }
  }

  .prop__more {
    padding-inline: .4em;
  }

  .prop_type_text {
    display: flex;
    flex-direction: column;
    // word-break: break-all;
  }

}

.prop_type_hidden {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}


// информация в карточках
.details {
  font-size: 1em;
  display: flex;
  align-items: center;
  column-gap: .5em;

  .details__image {
    flex: 0 0 auto
  }

  .details__content {
    flex: 1;
    line-height: 1em;
  }
}


// аватарка пользователя
.image-box{
  position: relative;
  flex: 0 0 30%;
  width: 100%;
  max-width: 30%;
  height: 0;
  padding-top: 30%;
  // background-color: #D9D9D9;
  margin-right: 5%;

  &_type_logo {
    max-width: 100%;
    padding-top: 100%;
  }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
  }

  img:invalid {
    border: none;
    outline: none;
    background: none;
  }

}

.image-box_type_frame {
  background-color: #fff;

  img {
    padding: .5em;
  }
}

.image-box_type_not-border {
  img {
    border: none;
  }
}


// sticky
.sticky {
  position: sticky;
  top:0;
}


// разделитель
.divider {
  border: 0;
  border-top: 1px solid #c4c4c4;
  margin-block: 1rem;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-30{
  margin-block: 3rem;
}

.divider-vertical {
  border: 0;
  border-left: 1px solid #c4c4c4;
  margin-inline: 1rem;
}


// отключение кнопок в input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// алерты
.invalid-error {
  font-size: 1rem;
  line-height: 1em !important;
  color: #6937a5;
  margin-top: .5rem;
  flex: 1 1 100%;
  min-height: 1.5rem;
  max-height: 1.5rem;
}

.invalid {
  input, textarea {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%236937a5'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%236937a5' stroke='none'/%3E%3C/svg%3E");
    background-position: right calc(.25em + .5rem) center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    border-color: #6937a5;
    padding-right: calc(1em + 2rem);
  }

  textarea {
    border-color: var(--border-color-quaternary);
    background-position: top calc(.25em + .5rem) right calc(.25em + .5rem);
    padding-right: calc(1em + 2rem);
  }

  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%236937a5'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%236937a5' stroke='none'/%3E%3C/svg%3E"),
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath stroke='%23343a40' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='m12 6-4.5 4L3 6' fill='none'/%3E%3C/svg%3E");
    background-position: right calc(1.5em + .5rem) center, right calc(1rem) center;
    background-repeat: no-repeat;
    background-size: 1em 1em, 15px 15px;
    border-color: #6937a5;
    padding-right: calc(1em + 2rem);
  }
}

.input-container.invalid {
  border-color: var(--border-color-quaternary) !important;
}

// табы
.tabs {
  font-size: 10px;
  display: flex;
  font-family: "lato", sans-serif;
  box-shadow: inset 0px -1px #dcdce4;


  &__tab {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 1.4em;
      box-shadow: inset 0px -1px #dcdce4;
      cursor: pointer;
      font-weight: 500;
      margin-bottom: 0;

      input {
          opacity: 0;
          position: absolute;
          z-index: -1;
      }

      span,
      b {
          font-size: 1.6em;
          line-height: 1.5;
          color: #667085;
      }

      b {
          font-weight: 600;
          color: #000;
      }

      span + b {
          margin-left: 0.5em;
      }

      &.active {
          box-shadow: inset 0px -3px #6937a5;

          span,
          b {
              color: #6937a5;
          }
      }

      &:hover {
          span,
          b {
              color: #6937a5;
          }
      }
  }

  &_slim {
      .tabs {
          &__tab {
              width: auto;
              flex: 0 1 auto;
              padding-left: 0;
              padding-right: 0;
              margin-right: 1.2em;
              min-width: 9em;

              span,
              b {
                  font-size: max(10px, 1.4em);
                  font-weight: 600;
              }
          }
      }
  }
}

// рейтинг
.rate {
  display: inline-flex;
    position: relative;
    width: 8em;
    height: 1.6em;
    font-size: 10px;
    flex-shrink: 0;
}

.rate:before, .rate:after {
    content: "";
    height: 100%;
    background: url(~/assets/svg/stars.svg);
    background-size: 1.6em;
}

.rate:before {
    background-position: 0 100%;
}

.rate:after {
    background-position: 100% 0;
    flex: 1 1 auto;
}

.views {
  margin-top: 1em;
  font-size: 1.6rem;
}


// новости
.news-body {
  font-size: 1.4rem;

  img {
    width: inherit;
    height: auto;
  }

  a {
    position: relative;
    z-index: 2;
    line-height: 1.4em;
    &:hover {
      text-decoration: underline;
      color: var(--text-color-ternary);
    }
  }

  figure {
    margin: 0;
  }
}

.highlighted-element {
  position: relative;
  z-index: 102;
  background-color: #fff;
  /* отступы, чтобы фон был больше */
  margin: -2em;
  padding: 2em;
  transition: background-color .3s ease;

  @include mobile {
    margin: -.5em;
    padding: .5em;
  }
}

// статус пополнения

.add, .purchase {
  display: flex;
  align-items: center;
  column-gap: .2em;
  font-size: 1em;
  line-height: 1em;
}

.purchase {
  color: #b42318;

  path {
    stroke: #f04438;
  }
}

.add {
  color: #027a48;

  svg {
    transform: rotate(180deg);

    path {
      stroke: #12b76a;
    }
  }
}

.debit {
  color: #b42318;

  path {
    stroke: #f04438;
  }
}

.credit {
  color: #027a48;

  svg {
    transform: rotate(180deg);

    path {
      stroke: #12b76a;
    }
  }
}

// таблица
.table {
  color: var(--text-color-primary);
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;

  th {
    border-bottom: 1px solid #dcdce4;
    border-top: 1px solid #dcdce4;
    padding: 1.75rem;
    text-align: left;
  }

  td {
    margin-bottom: .75rem;
    margin-top: .75rem;
    padding: .75rem 1.75rem;
  }
}

// Разделитель
.inline-divider {
  margin-inline: .2em;
}

// loading

.animation-loading {
  position: relative;
  pointer-events: none;
}

.animation-loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/loading.png') repeat;
  animation: sectionNavBgAnimation 1s linear infinite;
  z-index: 2;
}

@keyframes sectionNavBgAnimation {
  0% {
      background-position: 0 50%
  }
  100% {
      background-position: 53px 50%
  }
}

// Скрытие Google Translate
#goog-gt-tt {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}
body {
  top: 0 !important;
}

// body iframe {
//   display: none !important;
// }

.goog-tooltip {
  display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
  display: none !important;
}

.goog-te-banner-frame,
.goog-te-menu-frame,
.goog-te-gadget {
    pointer-events: none !important;
}

font font {
  background: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

// контейнер для контента
.container {
  max-width: var(--container-width);
  margin-inline: auto;
  width: 100%;
  box-sizing: border-box;

  @include desktop {
    padding-inline: var(--container-padding-x-desktop);
  }

  @include tablet {
    padding-inline: var(--container-padding-x);
  }

  // @include high-resolution-2k {
  //   max-width: var(--container-width-2k);
  // }

  // @include high-resolution-4k {
  //   max-width: var(--container-width-4k);
  // }
}



@include tablet {
  html {
    font-size: clamp(8px, calc((2.2vw) * .333333), 10px);
  }
}

// @include high-resolution-2k {
//   html {
//     font-size: clamp(8px, calc((2.2vw) * .333333), 13px);
//   }
// }

// @include high-resolution-4k {
//   html {
//     font-size: clamp(13px, calc((2.2vw) * .333333), 20px);
//   }
// }

@include mobile{
  html {
    font-size: 10px;
  }

  main .register {
    max-width: 540px;
  }
}

@include small-mobile {
  body {
    padding-right: 0 !important;
  }
}
