$desktop-breakpoint: 1740px;
$tablet-breakpoint: 1200px;
$small-tablet-breakpoint: 991px;
$mobile-breakpoint: 768px;
$small-mobile-breakpoint: 480px;

$mobile-content-width: 540px;



@mixin desktop {
  @media (max-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: $small-tablet-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: $small-mobile-breakpoint) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin transition($properties, $duration: 10s, $timing-function: ease-in-out, $delay: 0s) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}